# Tuples

### Tuples vs Lists vs Strings
**Tuples** &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; **Lists** &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; **Strings**

containers &emsp;&emsp;&emsp;&emsp;&emsp;&ensp; containers &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; containers

order matter &emsp;&emsp;&emsp;&emsp;&ensp; order matters &emsp;&emsp;&emsp;&emsp;&emsp; order matters

### Coding....

In [25]:
10, 20, 30 #No need of () for tuple. ',' is what forms tuple

(10, 20, 30)

In [27]:
a = (10, 20, 30)
type(a)

tuple

In [28]:
a = 10,20,30
type(a)

tuple

In [31]:
_ = 10, #we had ',' by mistake
type(_)
#but that mistake can cause huge problems. We intended integer but we will get tuple

tuple

In [22]:
def my_func(t):
    for e in t:
        print(e)

In [23]:
my_func(10, 20, 30) #It's not a tuple. You can to use ()

TypeError: my_func() takes 1 positional argument but 3 were given

In [24]:
my_func((10, 20, 30))

10
20
30

In [26]:
a, a[0], a[-1]

((10, 20, 30), 10, 30)

In [34]:
a = 10, 20, 30 , 'India' #Hetrogenous Tuple
from collections.abc import Iterable

isinstance(a, Iterable)

True

In [35]:
for e in a:
    print(e)

10
20
30
India

In [36]:
a = 1, 2, 3, 4, 5, 6, 7, 8, 9

x, y, z = a

ValueError: too many values to unpack (expected 3)

In [37]:
a = 1, 2, 3, 4, 5, 6, 7, 8, 9

x, y, *another, z = a

In [38]:
another

[3, 4, 5, 6, 7, 8]

In [39]:
#Pythonic Way
a = 1, 2, 3, 4, 5, 6, 7, 8, 9

x, y, *_, z = a

In [40]:
_

[3, 4, 5, 6, 7, 8]

In [41]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

pt = Point2D(10, 20)
print(id(pt))
pt.x = 100
print(id(pt))

2590451928456
2590451928456

In [42]:
s = 'python'
print(id(s))
s += ' rocks'
print(id(s))

2590419946864
2590451927664

In [43]:
a = 1, 2, 3
print(id(a))
a += 4, 5 #Not literally appending value to tuple 'a'
print(id(a))

2590451940472
2590451852296

In [44]:
#How to write a readable large number
num = 1,000,000,000
type(num) #We want a num

tuple

In [45]:
num = 1_000_000_000
type(num)

int

In [46]:
num

1000000000

In [47]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

london

('London', 'UK', 8780000)

In [48]:
cities = [london, new_york, beijing]

In [50]:
total = sum((city[2] for city in cities))
total

38280000

In [51]:
record = 'BSE', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072
symbol, year, month, day, open_, high, low, close = record
symbol, close

('BSE', 26072)

In [55]:
symbol, *_, close = record 
symbol, close

('BSE', 26072)

In [57]:
symbol, *_, day, *_, close = record  #Cant have more than 1 * arguments

SyntaxError: two starred expressions in assignment (<ipython-input-57-4f54b9f3b9eb>, line 4)

In [75]:
from random import uniform
from math import sqrt

def random_shots(rad, attempts):
    in_cir = 0
    out_cir = 0
    for _ in range(attempts):
        r_x = uniform(-rad, +rad)
        r_y = uniform(-rad, +rad)
        
        if sqrt(r_x**2 + r_y**2) <= rad:
            in_cir += 1
        else:
            out_cir += 1

    return in_cir, out_cir, 4*in_cir/(in_cir+out_cir) #Tuple

In [84]:
random_shots(1, 100000) #We get pie!

(78520, 21480, 3.1408)

# Named Tuples

### Tuples as Data Structures

We have seen how we interpret tuples as data structures.  

Th **position** of the object contained in the tuple gave it **meaning**.

For example, we can represent a 2D co-rodinate **x,y** as **(10,20)**

### Coding.....

In [94]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

In [90]:
from collections import namedtuple

In [92]:
Point2D = namedtuple('Point2D', 'x, y')

pt1 = Point2D(20, 40)
print(f'{pt1.x}  {pt1[0]}')

20  20

In [93]:
pt1

Point2D(x=20, y=40)

In [96]:
pt3d_1 = Point3D(10, 20, 30)
pt3d_1  #uglyyyyyyyyyyy

In [99]:
#Also works
Pt2D = namedtuple('Point2D', """
                    x
                                            y""")
pt2 = Pt2D(10, 20)
pt2

Point2D(x=10, y=20)

In [98]:
#Also works
Pt2D = namedtuple('Point2D', ('x', 'y'))
pt2 = Pt2D(10, 20)
pt2

Point2D(x=10, y=20)

In [101]:
p = Point3D(x=10, y=20, z=30)

In [102]:
p.x, p.y

(10, 20)

In [103]:
p = Point2D(x=10, y=20)
p

Point2D(x=10, y=20)

In [104]:
p.x, p.y

(10, 20)

In [106]:
isinstance(p, tuple) #Now we have .x and .y in tuple too

True

In [107]:
a = (10, 20)
b = (10, 20)

a is b

False

In [108]:
a == b

True

In [110]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)
pt1 == pt2 #have to implement eq in class

False

In [111]:
a = Point2D(x=10, y=20)
b = Point2D(x=10, y=20)
a == b #Already done for us in named tuples

True

In [112]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y}, z={self.z})'

    def __eq__(self, other):
        if isinstance(other, Point3D):
            return self.x == other.x and self.y == other.y
        else:
            return False

In [114]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)
pt1 == pt2 #implemented the eq in class

True

In [115]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)
print(pt1)
print(pt1 == pt2)

Point3D(x=10, y=20, z=30)
True

In [116]:
max(pt1) #Max value, isn't available in class object

TypeError: 'Point3D' object is not iterable

In [117]:
a = Point2D(x=10, y=20)
max(a), sum(a) #But our named tuple is basically a tuple, we have sum and max

(20, 30)

In [118]:
def dot_product_3d(a, b):
    return a.x*b.x + a.y*b.y + a.z*b.z

In [119]:
pt1 = Point3D(1, 2, 3)
pt2 = Point3D(1, 1, 1)
dot_product_3d(pt1, pt2)

6

In [120]:
a = (1, 2)
b = (2, 3)
list(zip(a, b))

[(1, 2), (2, 3)]

In [121]:
sum(e[0]*e[1] for e in zip(a, b))

8

In [123]:
def dot_product(a, b):
    return sum(e[0]*e[1] for e in zip(a, b))

dot_product(a, b)

8

In [124]:
Vector3D = namedtuple('Vector3D', 'x y z') #Named Tuple

In [125]:
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(3, 2, 1)

dot_product(v1, v2)

10

In [132]:
Vector4D = namedtuple('Vector4D', 'w x y z')

v11 = Vector4D(1, 2, 3, 4)
v22 = Vector4D(3, 2, 1, 5)

dot_product(v11, v22)

30

##### Now our dot product works for any dimension (2,3,4.......). But in classes we have to create each definition for each dimension.

In [131]:
Circle = namedtuple('Circle', 'center_x, center_y     radius ')
c = Circle(0, 0, 10)
c.radius

10

In [134]:
Stock = namedtuple('Stock', '''symbol
                year
                month
                day
                open
                high
                low
                close''')

In [135]:
bse = Stock('BSE', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)
bse

Stock(symbol='BSE', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [137]:
symbol, *_, close = bse
symbol, close

('BSE', 26393)

In [138]:
Person = namedtuple('Person', 'name age _ssn') # _ not allowed in field name

ValueError: Field names cannot start with an underscore: '_ssn'

In [139]:
Person = namedtuple('Person', 'name age _ssn', rename=True)
#But if we use keyword argument rename=True, it replaces invalid field names with '_index_value'

In [140]:
Person._fields

('name', 'age', '_2')

In [144]:
Person = namedtuple('Person', 'name 123$ age  gender', rename=True)

In [145]:
Person._fields

('name', '_1', 'age', 'gender')

In [146]:
Stock._source #Removed from Python 3.7
# https://docs.python.org/3/library/collections.html#namedtuple-factory-function-for-tuples-with-named-fields

AttributeError: type object 'Stock' has no attribute '_source'

In [148]:
Point3D.__dict__ #Checkign general class dict = UGLY

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Point3D.__init__(self, x, y, z)>,
              '__repr__': <function __main__.Point3D.__repr__(self)>,
              '__eq__': <function __main__.Point3D.__eq__(self, other)>,
              '__dict__': <attribute '__dict__' of 'Point3D' objects>,
              '__weakref__': <attribute '__weakref__' of 'Point3D' objects>,
              '__doc__': None,
              '__hash__': None})

In [149]:
Stock.__dict__

mappingproxy({'__doc__': 'Stock(symbol, year, month, day, open, high, low, close)',
              '__slots__': (),
              '_fields': ('symbol',
               'year',
               'month',
               'day',
               'open',
               'high',
               'low',
               'close'),
              '_field_defaults': {},
              '_fields_defaults': {},
              '__new__': <staticmethod at 0x25b23ecfe88>,
              '_make': <classmethod at 0x25b23ecf188>,
              '_replace': <function collections.Stock._replace(_self, **kwds)>,
              '__repr__': <function collections.Stock.__repr__(self)>,
              '_asdict': <function collections.Stock._asdict(self)>,
              '__getnewargs__': <function collections.Stock.__getnewargs__(self)>,
              'symbol': <property at 0x25b23d8c868>,
              'year': <property at 0x25b23d8cae8>,
              'month': <property at 0x25b23d8ce08>,
              'day': <property at 0x25b23d8cf48>,
              'open': <property at 0x25b23d8c228>,
              'high': <property at 0x25b23d8c4f8>,
              'low': <property at 0x25b23d8c458>,
              'close': <property at 0x25b23d8c0e8>,
              '__module__': '__main__'})

In [151]:
b = bse._asdict() #Which returns a 'Ordered Dict'
b

OrderedDict([('symbol', 'BSE'),
             ('year', 2018),
             ('month', 1),
             ('day', 25),
             ('open', 26313),
             ('high', 26458),
             ('low', 26260),
             ('close', 26393)])

In [152]:
b['symbol']

'BSE'

# Named Tuple 
## Modifing and Extension

### Named Tuples are Immutable

So how can we "change: one or more values inside the tuple?

### Coding.......

In [159]:
Point2D = namedtuple('Point2D', 'x y')

In [160]:
pt = Point2D(10, 20)
pt

Point2D(x=10, y=20)

In [156]:
pt[0]

10

In [157]:
pt[0] = 100

TypeError: 'Point2D' object does not support item assignment

In [158]:
print(id(pt))
pt = Point2D(100, pt.y)
print(id(pt))

2590466348120
2590466335032

In [161]:
Stock = namedtuple('Stock', '''symbol
                year
                month
                day
                open
                high
                low
                close''')

bse = Stock('BSE', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)
bse

Stock(symbol='BSE', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [169]:
bse = Stock(bse.symbol, bse.year, bse.month, bse.day, bse.open, bse.high, bse.low, close = 100)
bse

Stock(symbol='BSE', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=100)

In [170]:
*values, close = bse #Values is a List

In [171]:
values, close

(['BSE', 2018, 1, 25, 26313, 26458, 26260], 100)

In [172]:
values.append(26_393) #Adding new close
values

['BSE', 2018, 1, 25, 26313, 26458, 26260, 26393]

In [173]:
bse = Stock(*values)

In [174]:
bse

Stock(symbol='BSE', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [175]:
values = bse[:-1] #Another approach to *values, close.
values #But here we get a TUPLE. SO can't use "append"

('BSE', 2018, 1, 25, 26313, 26458, 26260)

In [176]:
values += (100,) # Add another tuple and make a new tuple
values

('BSE', 2018, 1, 25, 26313, 26458, 26260, 100)

In [177]:
bse = Stock(*values)

In [178]:
bse

Stock(symbol='BSE', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=100)

In [179]:
#Best way, instead of creating values and all
bse = bse._replace(year=2019, open=10000)
bse

Stock(symbol='BSE', year=2019, month=1, day=25, open=10000, high=26458, low=26260, close=100)

###### This process also allows, to chance values in between directly not just last.

In [180]:
Point2D #Our Point 2D Named Tuple

__main__.Point2D

In [181]:
#Extending it to 3D
Point3D = namedtuple('Point3D', 'x y z') #Easy but......

In [182]:
Point2D._fields + ('z', ) #We can use our old named tuple, and extend it.

('x', 'y', 'z')

In [183]:
Point3D = namedtuple('Point3D', Point2D._fields + ('z',))
Point3D._fields

('x', 'y', 'z')

In [184]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [185]:
StockExt = namedtuple('StockExt', Stock._fields + ('previous_change',))
StockExt._fields

('symbol',
 'year',
 'month',
 'day',
 'open',
 'high',
 'low',
 'close',
 'previous_change')

In [186]:
Point3D = namedtuple('Point3D', Point2D._fields + ('z',))

pt3 = Point3D(*pt, 100)
pt3

Point3D(x=10, y=20, z=100)

In [187]:
bse_ext = StockExt(*bse, 1_000_000)
bse_ext

StockExt(symbol='BSE', year=2019, month=1, day=25, open=10000, high=26458, low=26260, close=100, previous_change=1000000)

# Named Tuples
## Default and Doc Strings

### Coding........

In [193]:
Point2D = namedtuple('Point2D', 'x y')
Point2D.__doc__

'Point2D(x, y)'

In [194]:
Point2D.__doc__ = "lost"

In [195]:
Point2D.__doc__

'lost'

In [196]:
Point2D.x.__doc__

'Alias for field number 0'

In [197]:
help(Point2D)

Help on class Point2D in module __main__:

class Point2D(builtins.tuple)
 |  Point2D(x, y)
 |
 |  lost
 |
 |  Method resolution order:
 |      Point2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new OrderedDict which maps field names to their values.
 |
 |  _replace(_self, **kwds)
 |      Return a new Point2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Point2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x, y)
 |      Create new instance of Point2D(x, y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x
 |      Alias for field number 0
 |
 |  y
 |      Alias for field number 1
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x', 'y')
 |
 |  _fields_defaults = {}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.

In [198]:
Point2D.__doc__ = '2D cartesian coordiante'
Point2D.x.__doc__ = 'x coordinate'
Point2D.y.__doc__ = 'y coordinate'
help(Point2D)

Help on class Point2D in module __main__:

class Point2D(builtins.tuple)
 |  Point2D(x, y)
 |
 |  2D cartesian coordiante
 |
 |  Method resolution order:
 |      Point2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new OrderedDict which maps field names to their values.
 |
 |  _replace(_self, **kwds)
 |      Return a new Point2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Point2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x, y)
 |      Create new instance of Point2D(x, y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x
 |      x coordinate
 |
 |  y
 |      y coordinate
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x', 'y')
 |
 |  _fields_defaults = {}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.

In [199]:
Vector2D = namedtuple('Vector2D', 'x1 x2 y1 y2 origin_x origin_y')

In [200]:
Vector2D._fields

('x1', 'x2', 'y1', 'y2', 'origin_x', 'origin_y')

In [201]:
v1 = Vector2D(0, 0, 10, 10, 0, 0)
v1

Vector2D(x1=0, x2=0, y1=10, y2=10, origin_x=0, origin_y=0)

In [202]:
vector_zero = Vector2D(0, 0, 0, 0, 0, 0)
vector_zero #Prototype

Vector2D(x1=0, x2=0, y1=0, y2=0, origin_x=0, origin_y=0)

In [203]:
v2 = vector_zero._replace(x1=10, y1=10, x2=20, y2=20)
v2

Vector2D(x1=10, x2=20, y1=10, y2=20, origin_x=0, origin_y=0)

In [204]:
# Understanding defaults
def func(a, b=1, c=20):
    print(a, b, c)

func(1)

1 1 20

In [205]:
func.__defaults__

(1, 20)

In [206]:
func.__defaults__ = 455, 900
func(1)

1 455 900

In [208]:
func.__defaults__ = (20,)

In [209]:
func(10)

TypeError: func() missing 1 required positional argument: 'b'

In [210]:
func(1,2)

1 2 20

In [215]:
func.__defaults__ = (20,200,2000,20000) #Takes the last 3.

In [216]:
func()

200 2000 20000

In [218]:
type(Vector2D.__new__.__defaults__)

NoneType

In [220]:
Vector2D.__new__.__defaults__ #Is None so prints nothing

In [221]:
Vector2D.__new__.__defaults__ = (-5, -10)
v1 = Vector2D(10, 10, 20, 20)

In [222]:
v1

Vector2D(x1=10, x2=10, y1=20, y2=20, origin_x=-5, origin_y=-10)

In [223]:
from random import randint, random
from collections import namedtuple

In [230]:
def random_color():
    red = randint(0, 255)
    green = randint(0, 255)
    blue = randint(0, 255)
    alpha = randint(0, 255)
    return red, green, blue, alpha

In [231]:
color = random_color()

In [226]:
# when we type color. we wont get any intelisense help since its a function

In [227]:
Color = namedtuple('Color', 'red green blue alpha')

def random_color():
    red = randint(0, 255)
    green = randint(0, 255)
    blue = randint(0, 255)
    alpha = randint(0, 255)
    return Color(red, green, blue, alpha)

In [228]:
color = random_color()

In [229]:
#Now intellisense will show when doing color.
color.alpha

1

In [233]:
data_dict = dict(key1=100, key2=200, key3=300)
data_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [234]:
Data = namedtuple('Data', data_dict.keys()) #Using dictionary keys as field varialbes, and coverting it tuple.

In [235]:
Data._fields

('key1', 'key2', 'key3')

In [236]:
data_dict.values()

dict_values([100, 200, 300])

In [237]:
d1 = Data(*data_dict.values())

In [240]:
d1 #Converted Dictionary to Tuple. (Now we use less memory)

Data(key1=100, key2=200, key3=300)

This may not be reliable, because the Dictionary is unordered, so the values of different keys may go to different actual keys. If the order of dict.keys and dict.values are different.

In [241]:
#So we can use keys and assign values to particular keys.
d2 = Data(**data_dict)
d2

Data(key1=100, key2=200, key3=300)

In [243]:
d2.key2, data_dict['key2'] #Same

(200, 200)

In [244]:
from faker import Faker
fake = Faker()

fake.profile()

{'job': 'Civil Service fast streamer',
 'company': 'Bell-Morales',
 'ssn': '474-34-4049',
 'residence': '51526 Todd Parks\nNorth Molly, WY 57393',
 'current_location': (Decimal('-36.008689'), Decimal('-116.704266')),
 'blood_group': 'O+',
 'website': ['https://www.thompson-thompson.com/',
  'http://www.gutierrez.com/',
  'https://www.vasquez.com/'],
 'username': 'moyerdylan',
 'name': 'Sara Smith',
 'sex': 'F',
 'address': '62810 Welch Ridges\nWest Scottport, NC 81211',
 'mail': 'vickijones@hotmail.com',
 'birthdate': datetime.date(1979, 9, 2)}